{% extends 'base.html.twig' %}

{% block body %}

    {% include 'ShopBundle:Public:header.html.twig' %}

    <div class="container">
    <div class="row">
        <div id="center_column" class="center_column col-xs-12 col-sm-12">
            <div class="rte">
                <h2 align="justify">Aviso Legal</h2>
                <hr class="featurette-divider">
                <p class="Estilo55" align="justify">Esta web utiliza cookies(*) y está administrada por: The Bayflower S.L. NIF/CIF B85700433, C/ Astorga, 1 - Pol. Ind. Cobo Calleja 28947 Fuenlabrada-Madrid-España. Puede enviar un e-mail, un fax al número (+34) 915300066 o llamar al número de teléfono: (+34) 916421638 de 10:00 a 19:00 de lunes a viernes (hora española). Al acceder a nuestra web, se acepta que The Bayflower S.L. no se responsabiliza de ningún daño, directo o indirecto, derivado del acceso y/o uso de la misma.</p>
                <p class="Estilo55" align="justify">(*)Las cookies son pequeños fragmentos de texto utilizados para almacenar información sobre navegadores web. Se utilizan para almacenar y recibir identificadores, así como otra información sobre ordenadores, teléfonos y otros dispositivos. Otras tecnologías, incluidos datos que almacenamos sobre tu navegador web o dispositivo, identificadores asociados a tu dispositivo y otro software, se utilizan con fines similares. A efectos de esta política, todas estas tecnologías reciben el nombre de "cookies".</p>
                <p class="Estilo55" align="justify">The Bayflower S.L. se esfuerza por incluir información precisa y actualizada en la página web. A pesar de ello y eventualmente, esta información puede ser errónea o incompleta. The Bayflower S.L. no asume ninguna responsabilidad por cualquier error u omisión en el contenido de su página web.</p>
                <p class="Estilo55" align="justify">Las marcas que aparecen en esta web son propiedad exclusiva del The Bayflower S.L.</p>
                <p class="Estilo55" align="justify">El acceso no implica en ningún caso licencia alguna para su reproducción y/o distribución, prohibidas salvo previo y expreso consentimiento de The Bayflower S.L. El copyright del material contenido en esta página web es propiedad de The Bayflower S.L. y no puede ser utilizado salvo previo y expreso consentimiento del mismo. De las visitas que recibe nuestra página Web, el servidor reconoce automáticamente: la dirección IP, fecha y hora de entrada y salida del web y los ficheros que ha descargado.</p>
                <br>
                <p class="Estilo55" align="justify"><strong>Política de Privacidad</strong></p>
                <hr class="featurette-divider">
                <p class="Estilo55" align="justify">Los datos personales que nos facilites serán tratados de acuerdo con la Ley Orgánica 15/99 del 13 de Diciembre (Protección de Datos de Carácter Personal) y demás normativa concordante vigente en España.</p>
                <p class="Estilo55" align="justify">Sólo archivamos aquellos datos que se nos proporcionan voluntariamente.</p>
                <p class="Estilo55" align="justify">Estos datos sólo los utilizaremos para enviar información sobre cualquier tema, actividad o acontecimiento relacionado con The Bayflower S.L.</p>
                <p class="Estilo55" align="justify">En caso de no desear recibir esta información, te rogamos nos la comuniques por escrito a The Bayflower S.L., C/ Astorga, 1 - Pol. Ind. Cobo Calleja 28947 Fuenlabrada-Madrid o enviarnos un e-mail a: <a href="mailto:%20tannamoda@hotmail.com" target="_blank">tannamoda@hotmail.com</a></p>
                <p class="Estilo55" align="justify">© 2010-2016 The Bayflower S.L. Todos los derechos reservados. CONDICIONES DE USO Los datos personales que nos facilita podrán ser registrados en un fichero automatizado perteneciente a The Bayflower S.L., C/ Astorga, 1 - Pol. Ind. Cobo Calleja 28947 Madrid, con la exclusiva finalidad de que el titular pueda recibir informaciones publicitarias sobre productos, servicios, ofertas o promociones relacionados con su condición de cliente Tanna Shop. En caso de no desear que sus datos figuren en dicho fichero, le rogamos lo comunique a nuestra Oficina central por e-mail o correo certificado, indicando claramente su nombre y apellidos.</p>
                <p></p>
            </div>
            <br>
        </div><!-- #center_column -->
    </div>
    </div>

    {% include 'ShopBundle:Public:footer.html.twig' %}
{% endblock %}