{% extends 'base.html.twig' %}

{% block body %}

    {% include 'ShopBundle:Public:header.html.twig' %}

    <div class="container">
        <div class="row">
            <div id="center_column" class="center_column col-xs-12 col-sm-12">
                <div class="rte">
                    <h1 class="page-heading">Términos y condiciones</h1>
                    <hr class="featurette-divider">
                    <h3 align="left"><strong>CONDICIONES DE COMPRA </strong></h3>
                    <p align="left">&nbsp;</p>
                    <h2 align="left"><strong>Envíos </strong></h2>
                    <ul><li>
                            <div align="left">Para realizar cualquier pedido, usted deberá ser usuario registrado e iniciar sesión con su nombre de usuario y contraseña.</div>
                        </li>
                        <li>
                            <div align="left">Nuestros precios incluyen el IVA.</div>
                        </li>
                        <li>
                            <div align="left">El embalaje utilizado son cajas de hasta 25kg con el precio de 10€ por cada caja necesaria.</div>
                        </li>
                        <li>
                            <div align="left">Precios para la península, resto de destinos a consultar.</div>
                        </li>
                        <li>
                            <p>Como norma general, los paquetes se envían dentro de las 24/48 horas siguientes a la recepción del pago, a través de <strong><a target="_blank" href="http://www.seur.com/contenido/oferta-general/transporte-nacional/urgencia.html"><span style="color:#d0121a;">SEUR</span></a></strong> con número de seguimiento y entrega sin firma. Si prefieres el envío certificado urgente<span style="color:#2445a2;"><strong></strong></span>, se aplicará un cargo adicional. Póngase en contacto con nosotros antes de solicitar esta opción. Sea cual sea la forma de envío que elijas <strong><a target="_blank" href="http://www.seur.com/contenido/oferta-general/transporte-nacional/urgencia.html"><span style="color:#d0121a;">SEUR</span></a></strong>&nbsp; te proporcionará un enlace para que puedas seguir tu pedido en línea.</p>
                            <p>Los gastos de envío incluyen los gastos de manipulación y empaquetado, así como los gastos postales. Los gastos de manipulación tienen un precio fijo, mientras que los gastos de transporte pueden variar según el peso total del paquete. Te aconsejamos que agrupes todos tus artículos en un mismo pedido. No podemos combinar dos pedidos diferentes, y los gastos de envío se aplicarán para cada uno de manera individual. No nos hacemos responsables de los daños que pueda sufrir tu paquete tras el envío, pero hacemos todo lo posible para proteger todos los artículos frágiles.<br><br>Las cajas son grandes y tus artículos estarán bien protegidos.</p>
                        </li>
                    </ul><h2 align="left"><strong>Métodos de Pago </strong></h2>
                    <ul><li><strong>Pago con Tarjeta de crédito.</strong></li>
                    </ul><p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Aceptamos pagos con la mayoría de tarjetas de crédito y a través de <a href="https://www.iupay.es/OasysWebService/login/landingpage" target="_blank">iupay!</a></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="http://tannashop.com/img/cms/Logos_de_Pago.png" alt="Logos de pago" width="233" height="60"></p>
                    <ul><li><strong>Pago por Transferencia bancaria:</strong> Puede realizar una transferencia a la cuenta: ES31 2038 1021 8930 0294 0024 <span style="background-color:#2b2525;"><a target="_blank" href="http://www.bankia.es/"><span style="color:#d1ff00;background-color:#2b2525;"><strong>Bankia</strong></span></a></span>. Titular: The BayFlower SL Indicando en el apartado “Concepto” el número de referencia de su pedido.</li>
                    </ul><p align="left">&nbsp;</p>
                    <h2 align="left"><strong>Devoluciones </strong></h2>
                    <ul><li>
                            <div align="left">Siempre que un artículo adquirido presente algún defecto de fabricación, usted dispone de un plazo de 5 días para su devolución o cambio, a contar desde la fecha de recepción del pedido y a cambio del importe abonado.</div>
                        </li>
                        <li>
                            <div align="left">Para devolver el pedido deberá enviarnos un e-mail a <a href="mailto:tannamoda@hotmail.com">tannamoda@hotmail.com </a>detallando los motivos de la devolución, el número de pedido y las referencias de los artículos a devolver. Una vez aceptada la devolución, puede enviarnos los productos afectados a través de su empresa de mensajería.</div>
                        </li>
                        <li>
                            <div align="left">La devolución del importe se le abonará utilizando el mismo método de pago con el que se efectuó la compra.</div>
                        </li>
                        <li>
                            <div align="left">Solo se aceptarán devoluciones de productos que se encuentren en las mismas condiciones en que se entregaron y deberán conservar, en la medida de lo posible, su embalaje y etiquetado original.</div>
                        </li>
                        <li>
                            <div align="left">Solo se aceptarán devoluciones que presenten defectos de fabricación.</div>
                        </li>
                    </ul><p></p>
                    <p></p>
                </div>
                <br>
            </div><!-- #center_column -->
        </div>
    </div>

    {% include 'ShopBundle:Public:footer.html.twig' %}
{% endblock %}