div#container{
    min-height:400px;
}
.centerlogo img{
    text-align:center;
    display:block;
    margin: auto;
}
.centerlogo{
    margin-top: 10%;
    margin-bottom: 4%;
}
div.box{
    margin-top: 6%;
}
.capturelogo{
    text-align: center;
    display: inline-block;
    position: relative;
    top: 70px;
}
.payment-errors{
    color: #ff0000;
}